* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

s

.navigation {
  list-style: none;
}

.navigation li {
  display: block;
  padding: .5em;
}

.navigation a {
  display: block;
  text-decoration: none;
  color: #E77474;
}

.navigation a:hover {
  color: #C95959;
}

@media (min-width: 768px) {
  .logo {
/*     float: left; */
  }
  
  .navigation li {
    display: inline-block;
  }
  .navigation  {
/*     float: right; */
  }

}

@media (min-width: 900px) {
  .logo {
    float: left;
  }
  
  .navigation {
    float: right;
  }
  .navigation li {
   margin-top: 5px;
  }



  /*OVERLAY*/

.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */    
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.overlay li {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}
.overlay li a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
/*.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;*/
}

/* Position the close button (top right corner) */
/*.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}*/

/*FOOTER*/

    span.envelope a {
        align-items: right;
        
    }

    .hackdaymx a {
        align-items: right;
        
    }

    .footer i a {
        display: flex;
        flex-flow: column-wrap;
        margin-left: 2em;
        margin-right: 2em;
        /*border: red 5px solid;*/
    }

    .footer {
        align-content: center;
        max-width: 100%;
    }

    .iconname {
        margin-left: 50px;
        color: white;
    }

    .foot {
        display: flex;
        flex-flow: column-wrap;
        align-content: center;
        font-family: 'Roboto';
        text-align: center;
        font-size: 20px;
        padding: 1em;
    }

    span i a {
        align-content: center;
        font-family: 'Roboto';
        text-align: center;
        width: 100%;
    }

    .fechafooter {
        color: white;
        text-align: center;
        width: 100%;
    }


.lateralder {
    display: inline-block;
    margin-top: 0px;
    border: red 5px solid;    
}

.gitcarlos,
.carlosname {
    margin-top: 50px;
    margin-left: 260px;
    justify-content: space-between;
}


.carlosname {
    margin-left: 50px;
}

.gitcarlos,
.carlosname {    
    margin-bottom:0px;
}

.gitvalvich,
.valvichname {
    margin-top: 50px;
    margin-left: -150px;
    /*border: red 5px solid;*/
}

.valvichname {
    margin-left: 50px;
}


.lateralizq {
    display: inline;
    margin-top: 0px;
}

.hackdaymx,
.hackmxname {
    margin-top: 0px;
    margin-left: 0px;
    justify-content: space-between;

}

.hackmxname {
    margin-left: 50px;
}

.hackdaymx,
.hackmxname {
   margin-bottom: -55px;
   /*border: red 5px solid;*/
}

.envelope,
.envelopename {
    margin-top: 0px;
    margin-left: -410px;
    margin-right: 50px;
    margin-bottom: -100px; 
}

.envelopename {
    margin-left: 50px;
}

.envelope,
.envelopename {
    margin-bottom: -175px;
}

.hackday,
.hackname{
    margin-left: -290px;
    margin-right: 600px;
   /* border: red 5px solid;*/
}

.hackname {
    margin-left: 50px;
}

.hackday,
.hackname {
    margin-bottom: -60px;
}
