* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
  font-family: 'Roboto', 'IBM Plex Sans';
  min-height: 100vh;
  background: -moz-linear-gradient(180deg, rgba(9,10,49,1) 0%, rgba(29,24,86,1) 48%, rgba(232,0,116,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(9,10,49,1) 0%, rgba(29,24,86,1) 48%, rgba(232,0,116,1) 100%);
  background: linear-gradient(180deg, rgba(9,10,49,1) 0%, rgba(29,24,86,1) 48%, rgba(232,0,116,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#090a31",endColorstr="#e80074",GradientType=1);
}

/*menu bar*/

ul.navbar {
    font-size: 18px;
    display: flex;
    
   /* background-color: #090A31;*/
    
}

.transbox {
    position: fixed;
    width: 100%;
    z-index:1 !important;
    /*opacity:0.6;
    filter:alpha(opacity=60); /* IE < 9.0 */
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
    box-sizing: border-box;
    background: rgba(9,10,49,.7);
}

.main-nav {
    list-style-type: none;
    z-index:1 !important;
    -webkit-transition:all 0.2s ease-in-out;
    -ms-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
}

.nav-links,
.logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}
.main-nav li {
    text-align: center;
    margin: 15px auto;
    
}
.logoimg {
    display: inline-block;
    width: 50px;
    margin-top: 10px;
    margin-left: 20px;
}

.logoletras {
    display: none;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer; 
    color: rgba(255,255,255,0.8);
    font-size: 24px;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.menubar {
	width: 30px;
    margin-top: 5px;
}

.active {
  display: block;
}


/*banner principal*/

.banner {
    padding-top: 20px;
}

.logobanner {
	width: 150px;
	max-width: 50%;
    display:block;
    margin:auto;
    margin-top: 60px;
}

h1 {
    display: flex;
    margin-top: 10PX;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 0.105em;
}

h1.contact {
    padding: 1em;
    color: #26F4FF;
}

h4 {
    display: flex;
    margin-top: 10PX;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

h4.institutodesktop {
    line-height: 30%;
    display: none;
}

h4.fecha {
    font-family: 'Roboto';
    color: #26F4FF;
    letter-spacing: 0.105em;
}

.lugaryfecha {
    margin-top: 0px;
}

/* Global Button Styles */

a.animated-button:link, a.animated-button:visited {
    position: relative;
    display: block;
    margin: 30px auto 0;
    padding: 14px 15px;
    color: #fff;
    font-size:14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    border-radius: 0;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
    content: "";
    position: absolute;
    height: 0%;
    left: 50%;
    top: 50%;
    width: 150%;
    z-index: -1;
    -webkit-transition: all 0.75s ease 0s;
    -moz-transition: all 0.75s ease 0s;
    -o-transition: all 0.75s ease 0s;
    transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
    color: #FFF;
    text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
    height: 450%;
}
a.animated-button:link, a.animated-button:visited {
    position: relative;
    display: block;
    margin: 30px auto 0;
    padding: 14px 15px;
    color: #fff;
    font-size:14px;
    border-radius: 0;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

/* BOTON PRIMARIO*/

.col-md-3 {
  /* IMPORTANTE */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

a.animated-button.thar-one {
    color: #ffffff;
    cursor: pointer;
    position: absolute;
    border: 2px solid rgba(232, 0, 116, 0.85);
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-radius: 15px;
}

a.animated-button.thar-one:hover {
    color: #FFFFFF !important;
    background-color: transparent;
    text-shadow: none;
}
a.animated-button.thar-one:hover:before {
    position: absolute;
    bottom: 0%;
    top: auto;
    height: 100%;
}
a.animated-button.thar-one:before {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 0px;
    width: 100%;
    z-index: -1;
    content: '';
    color: #000 !important;
    background: rgba(232, 0, 116, 0.85);
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

/*LINEAS GRADIENTES*/

.linesgrd {
  display: flex;
  justify-content: flex-end;
  max-width: 100%;
}


.imglinesgrd {
    display: none;
}

.imglinesgrdsmall {
    display: inline-block;
    display: flex;
    justify-content: flex-end;
    margin-top: -20px;
}

/*FOOTER*/


footer {
    color: white;
}

.footer_desktop {
    display: none;
    color: white;
}

.footer_mobile {
    display: flex;
    flex-flow: column wrap;
    align-content: stretch;
    margin: 0 auto;
    margin-left: 30px;
    /*border: 5px solid rgba(232, 0, 116, 0.85);*/

    }

.footer_mobile a { 
text-decoration: none; 
color: white;
} 

.foot a { 
text-decoration: none; 
color: white;
} 






.foot {
    display: flex;
    flex-flow: column-wrap;
    align-content: center;
    font-family: 'Roboto';
    text-align: center;
    font-size: 20px;
    padding: 0.5em;
}

.foot i {
    padding: 1em;
}

span i a {
    align-content: center;
    font-family: 'Roboto';
    text-align: center;
    width: 100%;
    color: black;
}

.fechafooter {
    color: white;
    text-align: center;
    width: 100%;
    padding-top: 2em;
}







/*CONFERENCIAS*/

.confname-desktop {
    display: none;
}

h1.confname {
    color: #26F4FF;
}


.Conferencias {
    padding: 2em;
}

.circle {
   border: 5px solid rgba(232, 0, 116, 0.85);
   align-items: center;
   width: 150px;
   height: 150px;
   background: #49C9F6;
   border-radius: 50%;
   margin: 0 auto;
   margin-top: 20px;
   /*border: 5px solid rgba(232, 0, 116, 0.85);*/
}

.conf-data {
    margin-top: 20px;
}

.conf-data p {
    text-align: center;
    color: white;
    font-family: 'Roboto';
    font-size: 20px;

}

.conficons {
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;

}

.fa-stack {
    color: black;
}

/*TALLERES*/


h1.talleres {
    color: #26F4FF;
    padding: 1em;
}

table {
    border: solid 5px #26F4FF;
    text-align: center;
    color: white;
}

.talleres-mobile {
    border-radius: 20px;
    margin: 0 auto;
    width: 100%;

}

td.datavis {
    padding: 8px;
    border-bottom: 5px solid #26F4FF;
    border-collapse: collapse;
    
}

td.deschor {
    padding: 20px;
    border-collapse: collapse;
    
}

td.iconotall {
    border-right: 5px solid #26F4FF;
    border-collapse: collapse;
}

p.tallhorario {
    color: #E0274D;
}

/*BOTON TALLER*/
.col-3 {
  /* IMPORTANTE */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

a.animated-button.thar-two {
    color: #ffffff;
    cursor: pointer;
    position: absolute;
    border: 2px solid #E0274D;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 50%;
    border-radius: 12px;
}

a.animated-button.thar-two:hover {
    color: #FFFFFF !important;
    background-color: transparent;
    text-shadow: none;
}
a.animated-button.thar-two:hover:before {
    position: absolute;
    bottom: 0%;
    top: auto;
    height: 100%;
}
a.animated-button.thar-two:before {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 0px;
    width: 100%;
    z-index: -1;
    content: '';
    color: #000 !important;
    background: #E0274D;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.imgdatamobile {
    display: inline-block;
    width: 70px;
}

.talleres-desktop{
    display: none;
}





/*FOR DESKTOP*/
@media screen and (min-width: 768px) {

    .closebtn {
    display: none;
    font-size: 40px;
    top: 15px;
    right: 35px;
  }

    h1.ver {
        font-family: 'IBM Plex Sans', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 35px;
        line-height: 45px;

        /* identical to box height */
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.105em;
        color: #FFFFFF;
        }

    h4 {
        display: flex;
        margin-top: 10PX;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;
        text-transform: uppercase;
        letter-spacing: 0.120em;
    }

    h4.hora {
        font-size: 135%;
    }
    h4.fecha {
        font-size: 135%;
        line-height: 200%;
    }

    h4.institutodesktop {
        display: inline-block;
        line-height: 80%;
        display: flex;
        margin-top: 10PX;
        justify-content: center;
        text-align: center;
        font-size: 135%;
    }


    h4.instituto{
        display: none;
    }

    h4.ver2 {
        display: none;
    }

    .transbox {
        display: none;
    }

    .transbox-desk {
        display: contents;
    }

    .transbox-desk {
    padding: 0 100px;
    width: 100%
    height: 70px;
    box-sizing: border-box;
    background: rgba(9,10,49,.7);
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
    z-index:1 !important;
    opacity:0.6;
    filter:alpha(opacity=60); /* IE < 9.0 */
}


    .navbar{
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
        position: fixed;
        width: 100%;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }
    .main-nav li {
        margin: 0;
    }
    .nav-links {
        margin-left: 40px;
        /*pointer-events: none;*/
        cursor: default;
    }
    .logoimg {
    display: none;
    }

    .logoletras {
    display: inline-block;
    width: 180px;
    margin-top: 5px;
    margin-left: 30px;
    }

   .navbar-toggle {
       display: none;
    }
    .logo:hover,
    .nav-links:hover {
        color: rgba(255, 255, 255, 1);
    }

    .banner {
        padding-top: 70px;
    }

    .logobanner {
    width: 250px;
    max-width: 50%;
    display:block;
    margin:auto;
    }

    .linesgrd {
      display: flex;
      justify-content: flex-end;
      max-width: 100%;
    }

    .imglinesgrd {
        min-width: 1024px;
        margin-top: -80px; 
        display: inline-block;
        display: flex;
        z-index: -10;
        justify-content: flex-end;
    }

    .imglinesgrdsmall {
        display: none;
    }



    /*FOOTER*/
    .footer_mobile {
        display: none;
        
    }

   h1.contact {
        padding: 1em;
        margin-top: 10px;
    }

    .footer_desktop {
        display: inline;
    }

    .lateralizqdesk {
        display: inline;
        display: flex;
        justify-content: center;
        align-items: center;
        /*border: 5px solid rgba(232, 0, 116, 0.85);*/
    }

    .hackdaydesk {
        margin-right: 5px;
        display: inline-block;
        /*border: 5px solid rgba(232, 0, 116, 0.85);*/
    }

    .hacknamedesk {
        display: inline-block;
        display: contents;
        justify-content: left;
        align-items: left;
    }

    .hackerdaymxdesk {
        margin-right: 5px;
        display: inline-block;
        /*border: 5px solid rgba(232, 0, 116, 0.85);*/
    }
    .hackmxnamedesk {
        display: inline-block;
        display: contents;
        justify-content: left;
        align-items: left;
    }


    .envelopedesk {
        display: inline-block;
        margin-top: 0px;
        margin-left: 0px;
        /*border: 5px solid rgba(232, 0, 116, 0.85);*/
    }

    .envelopenamedesk {
        display: inline-block;
        display: contents;
        justify-content: left;
        align-items: left;
    }


    .lateralderdesk {
        margin: 0 auto;
        display: inline;
        display: flex;
        justify-content: center;
        align-items: center;
        /*border: 5px solid rgba(232, 0, 116, 0.85);*/
    }

    .gitvalvichdesk {
        display: inline-block;
        /*border: 5px solid rgba(232, 0, 116, 0.85);*/
    }

    .valvichnamedesk {
        display: inline-block;
        display: contents;
        justify-content: left;
        align-items: left;
    }

    .gitcarlosdesk {
        display: inline-block;
        margin-left: 20px;
        margin-top: 0px;
        /*border: 5px solid rgba(232, 0, 116, 0.85);*/
    }

    .carlosnamedesk {
        display: inline-block;
        display: contents;
        justify-content: left;
        align-items: left;
    }

    .footer_desktop a { 
        text-decoration: none; 
        color: white;
    } 

    

/*CONFERENCIAS*/

.confname-desktop {
    display: inline;
    text-align: center;
    color: #26F4FF;
}

.conf-mobile {
   display: none;
}

.circle {
   border: 5px solid rgba(232, 0, 116, 0.85);
   width: 150px;
   height: 150px;
   background: #49C9F6;
   border-radius: 50%;
   margin-top: 20px;
   /*border: 5px solid rgba(232, 0, 116, 0.85);*/
}

.conf-desktop {
    border: 3px solid #26F4FF;
    box-sizing: border-box;
    border-radius: 18px;
    margin: 0 auto;
    align-items: center;
    border-radius: 20px;
    margin-top: 65px;
    text-align: center;
}

.confrect1 {
    display: inline-block;
    margin-bottom: 70px;
    margin-top: 50px;
    
}
.confrect2 {
    display: inline-block;
   
}
.confrect3 {
    display: inline-block;
    
}


.conf-data p {
    text-align: center;
    color: white;
    font-family: 'Roboto';
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}


/*TALLERES-DESKTOP*/

h1.talleres {
    padding: 2em;
}

.talleres-mobile {
    display: none;
}

.buttontaller {
    display: none;
}

.talleres-desktop {
    display: inline;
    margin: 0 auto;
    /*border: 5px solid rgba(232, 0, 116, 0.85);*/
}

.taller-desktop1 {
    margin-top: 20px;
    border: solid 5px #26F4FF;
    text-align: center;
    align-items: left;
    color: white;
}

.taller-desktop1 {
    border-radius: 20px;
    width: 50%;

}

.taller-desktop2 {
    border: solid 5px #26F4FF;
    text-align: center;
    align-items: right;
    color: white;
    margin-top: -155px;
}

.taller-desktop1 {
    border-radius: 20px;
    width: 47%;

}
.taller-desktop2 {
    border-radius: 20px;
    width: 47%;

}

td.datavis {
    padding: 8px;
    border-bottom: 5px solid #26F4FF;
    border-collapse: collapse;
    
}

td.deschor {
    padding: 20px;
    border-collapse: collapse;
    
}

td.iconotall {
    border-right: 5px solid #26F4FF;
    border-collapse: collapse;
}

p.tallhorario {
    color: #E0274D;
}


}



